    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <br />
        <!-- Sidebar - Brand -->
        <div class="sidebar-brand-text mx-3">
            <img src="~/Content/img/logo-oficial-pazi-menu-b.png" width="100%" />
        </div>
        <br />

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            General
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Web</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Mantenimiento:</h6>
                    @Html.ActionLink("Especialidad", "Index", "Especialidad", new { area = "" }, new { @class = "collapse-item" })
                    @Html.ActionLink("Distritos", "Index", "District", new { area = "" }, new { @class = "collapse-item" })
                    @Html.ActionLink("Documento Usuario", "Index", "UserDoc", new { area = "" }, new { @class = "collapse-item" })
                    @Html.ActionLink("Genero", "Index", "Genero", new { area = "" }, new { @class = "collapse-item" })
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Seguridad
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSec" aria-expanded="true" aria-controls="collapseSec">
                <i class="fas fa-fw fa-cog"></i>
                <span>Seguridad</span>
            </a>
            <div id="collapseSec" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Mantenimiento:</h6>
                    @Html.ActionLink("Perfiles", "Index", "Profile", new { area = "" }, new { @class = "collapse-item" })
                    @Html.ActionLink("Usuarios", "Index", "User", new { area = "" }, new { @class = "collapse-item" })
                    @Html.ActionLink("Doctor-Especialidad", "Index", "DoctorEspecialidad", new { area = "" }, new { @class = "collapse-item" })
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Cliente
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCli" aria-expanded="true" aria-controls="collapseCli">
                <i class="fas fa-fw fa-cog"></i>
                <span>Cliente</span>
            </a>
            <div id="collapseCli" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Citas:</h6>
                    @Html.ActionLink("Solicitar Cita", "Index", "Citas", new { area = "" }, new { @class = "collapse-item" })
                    @Html.ActionLink("Mis Citas", "Citas", "Citas", new { area = "" }, new { @class = "collapse-item" })
                </div>
            </div>
        </li>

    </ul>
<!-- End of Sidebar -->
